#wrapper {
	width: 700px;
	margin: 10px auto;
}

#header {
	height : 200px;
}

#left {
	height : 400px;
	width : 200px;	
	float : left;
}

#content {
	height : 400px;
	margin : 0px 200px;
}

#right {
	height : 400px;
	width : 200px;
	float : right;
}

#clearfix {
	clear : both;
}

#footer {
	height : 200px;
}

#header, #content, #left, #right, #footer, #wrapper {
	outline: 1px solid black;
}