#wrapper {
	width: 900px;
	margin: 10px auto;
}

#header {
	height : 200px;
}

#content {
	height : 400px;
}

#footer {
	height : 200px;
}

#header, #content, #sidebar, #footer {
	outline: 1px solid black;
}