
#menu1 {
	font-family: Arial;
	font-size: 12px;
}

#menu1 th {
	border-bottom : 1px solid DarkSlateGrey;
}

#menu1 a {
	display : block;
	padding: 2px 2px;
	color : DarkSlateGrey;
	text-decoration : none;
	border : 0px solid red;
	text-align : center;
}
#menu1 a:hover {
	text-decoration : underline;
}

#menu1 td.wend a, #menu1 th.wend a{
	color : LightSlateGray;
	border : 0px solid red;
}

#menu1 td.active a {
	color : red;
	font-weight : bold;
}